<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picky Paws</title>
    <link rel="stylesheet" type="text/css" href="/public/css/assets.css">
    
</head>
<body>
    <header>
        <nav>
        <a href="/" id="logo">PICKY PAWS</a>
        <a href="/login">Sign In</a>
        <a href="/signup">Sign Up</a>
        <a href="/">Home</a>
        <a href="/user">User</a>

    </nav>
    </header>

    <main> class=""main-body"</main>
{{{body}}}

<footer>
    <nav class ="footer-nav">
        <a href= "/Home"</a>
        <a href= "/about">About Us</a>
        <a href= "/contact">contact</a>
    </nav>
    <p class ="footer-infor">&copy; 2023 Picky Paws. All rights reserved.</p>
</footer>

</body>
</html>
 