<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picky Paws</title>
    <link rel="stylesheet" type="text/css" href="/public/css/assets.css">

</head>

<body>
    <header>
        <nav>
            <a href="/" id="logo">PICKY PAWS</a>
            {{#if loggedIn}}
            <a href="/homepage">Profile</a>
            <a href="/logout">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            <a href="/homepage">Profile</a>
            {{/if}}
        </nav>
    </header>

    {{{body}}}

    <footer>
        <nav class="footer-nav">
                <a href="/about">About Us</a>
                <a href="/contact">Contact</a>
        </nav>
        <p class="footer-infor">&copy; 2023 Picky Paws. All rights reserved.</p>
    </footer>

</body>

</html>