<h1>This is the About Page</h1>

 <main class="about-container">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A libero delectus magni modi odit natus commodi sed aperiam asperiores laboriosam nobis in optio maxime quasi rerum quam debitis quas et, eius, dignissimos iusto reprehenderit. Rem non dicta laboriosam aliquid nulla reprehenderit voluptatibus hic soluta corporis doloremque, in totam quis eaque cumque esse veniam eius at quia delectus pariatur nemo ratione illo sint? Mollitia doloribus facilis eligendi fuga eveniet magni et rem magnam fugiat, vero quaerat necessitatibus, aspernatur dolor deleniti consequatur corporis quis eos! A porro earum ipsam ex id corrupti similique nobis odio eos eius ducimus iste quod voluptatum obcaecati veniam placeat quidem at sequi, fuga suscipit aliquam nostrum illum. Eius dolores dignissimos ut facere molestias autem, temporibus veniam! Assumenda impedit soluta in magnam beatae quis. Delectus neque, vero architecto voluptatibus corporis enim at recusandae consequuntur earum eos placeat obcaecati. Eius, expedita debitis quasi pariatur facilis corrupti officiis incidunt temporibus?
        </p>
    </main>
    
     <script src="/public/js/auth.js"></script>
    <script src="/public/js/main.js"></script>