<h1>This is the Contact Page</h1>

 <main class="contact-container">
        <h1>Contact Picky Paws</h1>
        <form action="/contact" method="POST" class="contact-form">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            
            <label for="contact">Contact Us:</label>
            <input type="text" id="contact" name="contact" placeholder="Contact Us" required>
            
            <button type="submit">Input</button>
        </form>
        <p class="contactpage-link">Don't have an account? <a href="/signup">Sign up here</a></p>
    </main>
    
     <script src="/public/js/auth.js"></script>
    <script src="/public/js/main.js"></script>