<body>
    <main class="login-container">
        <h1>Login to Picky Paws</h1>
        <form action="/login" method="POST" class="login-form">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your login information" required>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
    
            <button type="submit" class="btn">Login</button>
        </form>
        <p class="login-link">
            <p class="signup-link">Don't have an account? <a href="/signup">Sign up here</a></p>
    </main>
    
    <script src="/public/js/auth.js"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>