<h1>This is the SIGN UP page</h1>

 <main class="login-container">
        <h1>Signup to Picky Paws</h1>
        <form action="/signup" method="POST" class="signup-form">
            <label for="email">Email:</label>
            <input type="text" id="signup" name="sign up" placeholder="Enter your information" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your information" required>
            
            <button type="submit">Login</button>
        </form>
        <p class="signup-link">Don't have an account? <a href="/signup">Sign up here</a></p>
    </main>
    
     <script src="/public/js/auth.js"></script>
    <script src="/public/js/main.js"></script>