<h1>This is the user/profile page</h1>

 <main class="user-container">
        <h1>Picky Paws</h1>
        <form action="/homepage" method="POST" class="login-form">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            
            <button type="submit">Login</button>
        </form>
        <p class="homepage-link"></p>
    </main>
    
     <script src="/public/js/auth.js"></script>
    <script src="/public/js/main.js"></script>