<!--Dashboard page for the website-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picky Paws Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/public/css/assets.css">
</head>
<body>
    <nav>
        <a href="#" id="logo">PICKY PAWS</a>
        <a href="#">Sign In</a>
        <a href="#">Sign Up</a>
        <a href="#">Home</a>
    </nav>

    <div id="search-bar">
        <input type="text" placeholder="Search for food...">
        <button type="submit">Search</button>
    </div>

    <div id="suggestions">
        <div class="suggestion">
            <img src="https://m.media-amazon.com/images/I/81xyE8OZBqL.jpg" alt="Food 1">
        </div>
        <div class="suggestion">
            <img src="https://images.heb.com/is/image/HEBGrocery/000146822-1" alt="Food 2">
        </div>
        <div class="suggestion">
            <img src="https://assets.petco.com/petco/image/upload/f_auto,q_auto/1277910-center-1" alt="Food 3">
        </div>
    </div>
        <script src="/public/js/auth.js"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>